import os
import radia
rank = radia.UtiMPI('on')
print("I am rank:", rank)
relaxation_args = [
{% for value in _RELAXATION_ARGS %}
    {{value}}{% if not loop.last %},{% endif %}
{% endfor %}
]
binary_dump_file = '{{ _INPUT_DUMP_FILE }}'

with open(binary_dump_file, 'rb') as ff:
    binary_data = ff.read()
magnet_group = radia.UtiDmpPrs(binary_data)
if rank == 0:
    print('Starting relaxation')

{% if _RELAXATION_COMMAND == 'Solve' %}
relaxation = radia.{{ _RELAXATION_COMMAND }}(magnet_group, *relaxation_args)
{% else %}
interaction_matrix = radia.RlxPre(magnet_group)
relaxation = radia.{{ _RELAXATION_COMMAND }}(interaction_matrix, *relaxation_args)
{% endif %}

if rank == 0:
    with open("{{ _OUTPUT_DUMP_FILE }}", 'wb') as ff:
        dmp = radia.UtiDmp(magnet_group, 'bin')
        magnet_data = ff.write(dmp)
    print('Finished relaxation')
radia.UtiMPI('barrier')